/* CSS Reset */
body, header, nav, main, footer, img, h1 {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Style rule for images */
img {
	max-width: 100%;
	display: block;
}

/* Style rules for header content */
header {
	text-align: center;
	font-size: 3em;
	color: #1c4f33;
}

header h3 {
	font-style: italic;
}

/* Style rules for navigation area */
nav{
	background-color: #1c4f33;
}

nav ul {
	list-style-type: none;
	margin: 0;
	text-align: center;
}

nav li {
	display: inline-block;
	font-size: 2em;
}

nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.5em 1em;
	text-decoration: none;
}

/* Style rules for main content */
main {
	padding: 2%;
	background-color: #bfe3cd;
	overflow: auto;
	font-family: Verdana, Arial, sans-serif;
}

h2 {
	text-align: center;
}

main p {
	font-size: 1.25em;
	text-align: center;
}

main dt {
	font-size: 1.25em;
	font-weight: bold;
}

main dd {
	font-style: italic;
}

.action {
	font-size: 1.75em;
	color: #373684;
	font-weight: bold;
}

#info {
	clear: left;
	background-color: #c0caf7;
	padding: 1% 2%;
}

#contact {
	text-align: center;
}

#about {
	border: 5px solid #e1f5eb;
	text-align: center;
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 50px;
	padding-right: 50px;
}

.map {
	border: 5px solid #b0e8c9;
}

/* Style rules for footer content */
footer {
	text-align: center;
	font-size: 0.65em;
	clear: left;
}

footer a {
	color: #4645a8;
	text-decoration: none;
}